# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp

# Node (in case you ever add tooling)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel
.env
.env.local
.env.*.local

# Logs
*.log
